@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(images/survey-form-background.jpeg);
background-position: center;
}

/* STYLE MAIN CONTAINER */
.container {
  width: 50%;
  margin: 70px auto 0 auto;
}
.header {
  padding: 0 2px;
  margin-bottom: 30px;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.description {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 18px;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* STYLE ALL FORM ELEMENT */
form {
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 0;
}
label {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.optional {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}
form {
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem;
  border-radius: 0.25rem;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  min-height: 12px;
  margin-right: 6.5px;
  min-width: 12px;
}
.input-textarea {
  width: 100%;
  padding: 6px;
  min-height: 150px;
}
.form-group {
  margin: 0 auto 18px auto;
  padding: 3px;
}
.form-shape {
  display: block;
  width: 100%;
  height: 43px;
  padding: 4px 8px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-shape:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 968px) {
  .container {
  width: 80%;
  margin: 70px auto 0 auto;
  }
  form {
    padding: 2.5rem;
  }
}